h1 {
    text-align: center;
    color: cornflowerblue;
}

img {
    width: 60%;
    height: auto;
    margin-left: 20%;
}

/* I added this to make places page look better*/
h2 {
    text-align: center;
}